@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    /* Cores principais */
    --primary-color: #2563EB;      
    --primary-hover: #1D4ED8;

    --secondary-color: #0EA5E9;     
    --secondary-hover: #0284C7;

    /* Destaque / sucesso */
    --accent-color: #22C55E;        /*confirmação*/
    --accent-hover: #16A34A;

    /*  Backgrounds */
    --bg-main: #F8FAFC;             /* Fundo geral */
    --bg-card: #FFFFFF;             /* Cards / containers */
    --bg-dark: #0F172A;             /* Footer ou modo escuro */

    /* Textos */
    --text-primary: #0F172A;        /* Texto principal */
    --text-secondary: #475569;      /* Texto secundário */
    --text-light: #FFFFFF;

    /* Bordas e detalhes */
    --border-color: #E2E8F0;
    --shadow-color: rgba(15, 23, 42, 0.08);

}


body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
}

header{
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--text-light);
}

header h1{
    margin-bottom: 10px;
}

.navegation{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: var(--text-light);
}

nav a:hover{
    color: var(--primary-hover);
    text-decoration: underline;
}

.pesquisa{
    position: relative;
    left: 100vh;
    height: 10px;
    display: flex;
    justify-content: right;
    
}

.pesquisa i{
    color: #F8FAFC;
}

.pesquisa input{
    background-color: var(--primary-hover);
}

.pesquisa ::placeholder{
    color: #FFFFFF;
}

.search{
padding: 8px 12px;
display: flex;
align-items: center;
gap: 6px;
}

main{
    flex: 1;
    padding: 30px 15px;
    max-width: 600px;
    margin: auto;

}

.formulario{
   background: white;
   padding: 20px;
   border-radius: 5px;

}

input, select, button{
    width:100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
}

input, select{
    border: 1px solid #ccc;

}

button{
    background: var(--secondary-color);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

button:hover{
    background: var(--secondary-hover);
}

footer{
    text-align: center;
    background-color: rgb(202, 197, 191);
    padding: 15px;
    font-size: 14px;
}

#footer_link{
    text-decoration: none;
    color: var(--bg-dark);
    font-weight: bold;
}

